<a href="https://colab.research.google.com/github/Ivanrenzmond-solidos/CPE310-IE22S1/blob/main/Castulo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Exercise-1.1-Variables-expressions-statements-and-conditional-execution-**

# **Part 1: Variables, Expressions, and Statements **

In [ ]:
# --- Exercise 2 ---
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Ivan Renzmond Castulo
Hello Ivan Renzmond Castulo

In [ ]:
# --- Exercise 3 ---
hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))
pay = hours * rate
print("Pay:", pay)  # or use round(pay, 2) to limit decimals

Enter Hours: 8
Enter Rate: 650
Pay: 5200.0

In [ ]:
width = 17
height = 12.0

print("width//2 =", width // 2, "type:", type(width // 2))
print("width/2.0 =", width / 2.0, "type:", type(width / 2.0))
print("height/3 =", height / 3, "type:", type(height / 3))
print("1 + 2 * 5 =", 1 + 2 * 5, "type:", type(1 + 2 * 5))

width//2 = 8 type: <class 'int'>
width/2.0 = 8.5 type: <class 'float'>
height/3 = 4.0 type: <class 'float'>
1 + 2 * 5 = 11 type: <class 'int'>

In [ ]:
# --- Exercise 5 ---
celsius = float(input("Enter Celsius temperature: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter Celsius temperature: 40
Temperature in Fahrenheit: 104.0

## **Part 2 Conditional Execution**:

In [ ]:
# Exercise 1
hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))

if hours > 40:
    regular_pay = 40 * rate
    overtime_pay = (hours - 40) * (rate * 1.5)
    pay = regular_pay + overtime_pay
else:
    pay = hours * rate

print("Pay:", pay)

Enter Hours: 8
Enter Rate: 670
Pay: 5360.0

In [ ]:
# Exercise 2
try:
    hours = float(input("Enter Hours: "))
    rate = float(input("Enter Rate: "))
    pay = hours * rate
    print("Pay:", pay)
except ValueError:
    print("Error, please enter numeric input")

Enter Hours: 8
Enter Rate: 680
Pay: 5440.0

In [ ]:
# Exercise 3: Score to Grade

try:
    score = float(input("Enter score: "))

    if score < 0.0 or score > 1.0:
        print("Bad score")
    elif score >= 0.9:
        print("A")
    elif score >= 0.8:
        print("B")
    elif score >= 0.7:
        print("C")
    elif score >= 0.6:
        print("D")
    else:
        print("F")

except ValueError:
    # Handles non-numeric input
    print("Bad score")

Enter score: 70
Bad score