<a href="https://colab.research.google.com/github/Ivanrenzmond-solidos/CPE310-IE22S1/blob/main/Getting_Started_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Activity No. <n> Hands-on Activity 6.2 Getting Started with Pandas**
**Name:** Ivan Renzmond Castulo

**Course Code:** CPE-310

**Program**:BSIE

**Course Title:** Fundamentals of Data Science

**Date Performed:** 2/12/2026

**Section:** IE22S1

**Date Submitted:** 2/12/2026

**Instructor:** Engr.Jimlord Quejado

# Section 1: Getting Started With Pandas

We will begin by introducing the `Series`, `DataFrame`, and `Index` classes, which are the basic building blocks of the pandas library, and showing how to work with them. By the end of this section, you will be able to create DataFrames and perform operations on them to inspect and filter the data.

## Anatomy of a DataFrame

A **DataFrame** is composed of one or more **Series**. The names of the **Series** form the column names, and the row labels form the **Index**.

In [178]:
import pandas as pd

meteorites = pd.read_csv('/content/2019_Yellow_Taxi_Trip_Data (2).csv', nrows=5)

*Source: [NASA's Open Data Portal](https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh)*

In [182]:
taxi

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,2019-10-23T17:39:59.000,2019-10-23T17:49:26.000,2,1.30,1,N,238,239,1,8.0,3.5,0.5,2.46,0.00,0.3,14.76,2.5
9996,1,2019-10-23T17:53:02.000,2019-10-23T18:00:45.000,1,1.40,1,N,239,166,2,8.0,3.5,0.5,0.00,0.00,0.3,12.30,2.5
9997,1,2019-10-23T17:07:16.000,2019-10-23T17:11:35.000,1,0.70,1,N,166,152,2,5.0,1.0,0.5,0.00,0.00,0.3,6.80,0.0
9998,1,2019-10-23T17:38:26.000,2019-10-23T17:49:28.000,2,2.50,1,N,151,42,1,10.0,1.0,0.5,0.00,0.00,0.3,11.80,0.0
9999,1,2019-10-23T17:22:14.000,2019-10-23T17:52:09.000,1,3.00,1,N,237,68,1,19.0,3.5,0.5,2.50,0.00,0.3,25.80,2.5

#### Series:

In [269]:
taxi.vendorid

0       2
1       1
2       2
3       2
4       2
       ..
9995    1
9996    1
9997    1
9998    1
9999    1
Name: vendorid, Length: 10000, dtype: int64

#### Columns:

In [273]:
taxi.columns #attribute NOT a function, ()

Index(['vendorid', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'ratecodeid', 'store_and_fwd_flag',
       'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

#### Index:

In [270]:
taxi.index

RangeIndex(start=0, stop=10000, step=1)

In [271]:
sampleList = ['apple', 'orange', 'kiwi']

In [272]:
sampleList[-1]

'kiwi'

## Creating DataFrames

We can create DataFrames from a variety of sources such as other Python objects, flat files, webscraping, and API requests. Here, we will see just a couple of examples, but be sure to check out [this page](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) in the documentation for a complete list.

### Using a flat file

In [190]:
import pandas as pd

taxi = pd.read_csv('/content/2019_Yellow_Taxi_Trip_Data (2).csv')

*Tip: There are many parameters to this function to handle some initial processing while reading in the file &ndash; be sure check out the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).*

### Using data from an API

Collect the data from [NASA's Open Data Portal](https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh) using the Socrata Open Data API (SODA) with the `requests` library:

In [191]:
import requests

response = requests.get(
    'https://data.nasa.gov/resource/gh4g-9sfh.json',
    params={'$limit': 50_000}
)

if response.ok:
    payload = response.json()
else:
    print(f'Request was not successful and returned code: {response.status_code}.')
    payload = None

Request was not successful and returned code: 404.

Create the DataFrame with the resulting payload:

In [240]:
import pandas as pd

df = pd.DataFrame(payload)
df.head(3)

Empty DataFrame
Columns: []
Index: []

*Tip: `df.to_csv('data.csv')` writes this data to a new file called `data.csv`.*

## Inspecting the data
Now that we have some data, we need to perform an initial inspection of it. This gives us information on what the data looks like, how many rows/columns there are, and how much data we have.

Let's inspect the `meteorites` data.

#### How many rows and columns are there?

In [276]:
taxi. vendorid

0       2
1       1
2       2
3       2
4       2
       ..
9995    1
9996    1
9997    1
9998    1
9999    1
Name: vendorid, Length: 10000, dtype: int64

#### What are the column names?

In [195]:
taxi.columns

Index(['vendorid', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'ratecodeid', 'store_and_fwd_flag',
       'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

#### What type of data does each column currently hold?

In [196]:
taxi.dtypes

vendorid                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
ratecodeid                 int64
store_and_fwd_flag        object
pulocationid               int64
dolocationid               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

#### What does the data look like?

In [197]:
taxi.head(55)

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5
5,2,2019-10-23T16:31:12.000,2019-10-23T16:43:20.000,1,1.62,1,N,161,90,1,9.0,1.0,0.5,2.66,0.00,0.3,15.96,2.5
6,2,2019-10-23T16:47:10.000,2019-10-23T16:53:17.000,1,0.85,1,N,68,90,1,6.0,1.0,0.5,1.24,0.00,0.3,11.54,2.5
7,2,2019-10-23T16:57:35.000,2019-10-23T17:21:28.000,1,4.70,1,N,234,238,1,18.5,1.0,0.5,2.28,0.00,0.3,25.08,2.5
8,1,2019-10-23T16:11:36.000,2019-10-23T16:19:33.000,1,0.80,1,N,234,186,1,6.5,3.5,0.5,2.15,0.00,0.3,12.95,2.5
9,1,2019-10-23T16:21:48.000,2019-10-23T16:30:04.000,2,0.60,1,N,100,230,1,6.5,3.5,0.5,2.15,0.00,0.3,12.95,2.5
10,1,2019-10-23T16:35:02.000,2019-10-23T17:57:38.000,2,18.20,2,N,230,132,1,52.0,7.0,0.5,6.00,6.12,0.3,71.92,2.5
11,1,2019-10-23T16:17:33.000,2019-10-23T16:32:58.000,1,2.10,1,N,79,162,1,11.5,3.5,0.5,2.00,0.00,0.3,17.80,2.5
12,1,2019-10-23T16:35:45.000,2019-10-23T16:39:14.000,1,0.70,1,N,170,233,2,4.5,3.5,0.5,0.00,0.00,0.3,8.80,2.5
13,2,2019-10-23T16:34:52.000,2019-10-23T16:47:38.000,1,2.86,1,N,229,113,1,11.5,1.0,0.5,3.16,0.00,0.3,18.96,2.5
14,2,2019-10-23T16:49:24.000,2019-10-23T16:59:20.000,2,1.32,1,N,113,211,1,8.0,1.0,0.5,2.46,0.00,0.3,14.76,2.5
15,2,2019-10-23T17:01:08.000,2019-10-23T17:18:22.000,1,1.99,1,N,144,170,1,12.0,1.0,0.5,4.89,0.00,0.3,21.19,2.5
16,2,2019-10-23T16:07:34.000,2019-10-23T16:12:48.000,2,1.13,1,N,151,166,2,-5.5,-1.0,-0.5,0.00,0.00,-0.3,-7.30,0.0
17,2,2019-10-23T16:07:34.000,2019-10-23T16:12:48.000,2,1.13,1,N,151,166,2,5.5,1.0,0.5,0.00,0.00,0.3,7.30,0.0
18,2,2019-10-23T16:21:32.000,2019-10-23T16:33:02.000,2,2.94,1,N,151,50,1,11.5,1.0,0.5,0.00,0.00,0.3,15.80,2.5
19,2,2019-10-23T16:45:33.000,2019-10-23T16:48:49.000,1,0.70,1,N,143,239,1,4.5,1.0,0.5,1.00,0.00,0.3,9.80,2.5
20,1,2019-10-23T16:11:23.000,2019-10-23T16:16:18.000,1,0.40,1,N,161,164,1,5.0,3.5,0.5,1.00,0.00,0.3,10.30,2.5
21,2,2019-10-23T16:10:20.000,2019-10-23T16:23:14.000,1,2.17,1,N,142,246,1,10.5,1.0,0.5,2.96,0.00,0.3,17.76,2.5
22,2,2019-10-23T16:27:14.000,2019-10-23T16:29:52.000,1,0.38,1,N,68,158,1,3.5,1.0,0.5,1.56,0.00,0.3,9.36,2.5
23,2,2019-10-23T16:38:18.000,2019-10-23T16:59:49.000,1,1.84,1,N,158,164,2,13.5,1.0,0.5,0.00,0.00,0.3,17.80,2.5
24,1,2019-10-23T16:37:56.000,2019-10-23T16:37:59.000,1,0.00,2,N,193,193,3,52.0,4.5,0.5,0.00,0.00,0.3,57.30,0.0
25,1,2019-10-23T16:48:27.000,2019-10-23T16:57:42.000,1,0.90,1,N,141,237,2,7.0,3.5,0.5,0.00,0.00,0.3,11.30,2.5
26,2,2019-10-23T16:19:16.000,2019-10-23T17:04:49.000,2,16.74,2,N,132,233,1,52.0,4.5,0.5,13.18,6.12,0.3,79.10,2.5
27,2,2019-10-23T15:02:55.000,2019-10-24T14:55:14.000,1,13.70,1,N,138,46,2,47.5,1.0,0.5,0.00,6.12,0.3,55.42,0.0
28,2,2019-10-23T16:37:04.000,2019-10-23T16:58:00.000,5,1.92,1,N,43,161,2,13.5,1.0,0.5,0.00,0.00,0.3,17.80,2.5
29,1,2019-10-23T16:02:23.000,2019-10-23T16:07:03.000,2,0.50,1,N,141,237,2,5.0,3.5,0.5,0.00,0.00,0.3,9.30,2.5
30,1,2019-10-23T16:03:33.000,2019-10-23T16:18:35.000,2,2.20,1,N,137,148,2,11.5,3.5,0.5,0.00,0.00,0.3,15.80,2.5
31,1,2019-10-23T16:26:01.000,2019-10-23T16:46:13.000,1,2.50,1,N,79,186,1,14.0,3.5,0.5,4.55,0.00,0.3,22.85,2.5
32,1,2019-10-23T16:52:15.000,2019-10-23T17:04:39.000,1,2.00,1,N,234,125,1,10.0,3.5,0.5,2.85,0.00,0.3,17.15,2.5
33,1,2019-10-23T16:34:35.000,2019-10-23T16:55:35.000,1,1.20,1,N,170,230,1,13.5,3.5,0.5,3.55,0.00,0.3,21.35,2.5
34,1,2019-10-23T16:57:25.000,2019-10-23T17:09:37.000,4,1.00,1,N,163,162,1,9.0,3.5,0.5,2.65,0.00,0.3,15.95,2.5
35,2,2019-10-23T16:11:52.000,2019-10-23T16:27:27.000,1,0.87,1,N,186,100,1,10.0,1.0,0.5,2.00,0.00,0.3,16.30,2.5
36,1,2019-10-23T16:44:05.000,2019-10-23T17:00:03.000,1,1.90,1,N,161,186,1,11.5,3.5,0.5,3.15,0.00,0.3,18.95,2.5
37,2,2019-10-23T16:20:44.000,2019-10-23T16:45:17.000,1,3.40,1,N,226,196,2,17.0,1.0,0.5,0.00,0.00,0.3,18.80,0.0
38,2,2019-10-23T16:48:39.000,2019-10-23T17:00:25.000,2,1.93,1,N,196,83,2,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
39,1,2019-10-23T16:14:55.000,2019-10-23T16:24:44.000,1,1.60,1,N,79,137,2,8.5,3.5,0.5,0.00,0.00,0.3,12.80,2.5
40,1,2019-10-23T16:39:02.000,2019-10-23T16:52:38.000,1,1.70,1,N,79,107,1,10.0,3.5,0.5,2.85,0.00,0.3,17.15,2.5
41,2,2019-10-23T16:12:20.000,2019-10-23T16:38:36.000,6,3.27,1,N,162,246,1,17.5,1.0,0.5,2.00,0.00,0.3,23.80,2.5
42,2,2019-10-23T16:50:46.000,2019-10-23T16:57:37.000,6,0.80,1,N,234,90,1,6.0,1.0,0.5,2.06,0.00,0.3,12.36,2.5
43,1,2019-10-23T16:47:26.000,2019-10-23T16:54:12.000,3,0.90,1,N,236,262,1,6.0,3.5,0.5,2.55,0.00,0.3,12.85,2.5
44,1,2019-10-23T16:55:28.000,2019-10-23T17:01:51.000,1,0.90,1,N,262,236,1,6.0,3.5,0.5,2.06,0.00,0.3,12.36,2.5
45,1,2019-10-23T16:21:44.000,2019-10-23T16:24:06.000,1,0.10,1,N,239,143,2,3.5,3.5,0.5,0.00,0.00,0.3,7.80,2.5
46,1,2019-10-23T16:29:50.000,2019-10-23T16:37:51.000,2,1.20,1,N,143,48,1,7.0,3.5,0.5,2.00,0.00,0.3,13.30,2.5
47,1,2019-10-23T16:43:12.000,2019-10-23T16:46:32.000,1,0.30,1,N,48,50,1,4.0,3.5,0.5,1.65,0.00,0.3,9.95,2.5
48,1,2019-10-23T16:53:42.000,2019-10-23T17:15:04.000,1,1.40,1,N,48,162,2,13.0,3.5,0.5,0.00,0.00,0.3,17.30,2.5
49,1,2019-10-23T16:51:11.000,2019-10-23T17:02:14.000,1,1.20,1,N,65,66,2,8.5,1.0,0.5,0.00,0.00,0.3,10.30,0.0
50,2,2019-10-23T16:33:55.000,2019-10-23T17:28:47.000,2,8.99,1,N,138,237,2,39.0,1.0,0.5,0.00,6.12,0.3,49.42,2.5
51,2,2019-10-23T16:08:56.000,2019-10-23T17:04:02.000,3,10.81,1,N,138,161,1,41.0,1.0,0.5,12.86,6.12,0.3,64.28,2.5
52,2,2019-10-23T16:03:58.000,2019-10-23T16:13:11.000,3,0.60,1,N,161,162,1,7.0,1.0,0.5,3.39,0.00,0.3,14.69,2.5
53,2,2019-10-23T16:16:30.000,2019-10-23T16:25:33.000,3,1.08,1,N,229,237,1,7.5,1.0,0.5,2.36,0.00,0.3,14.16,2.5
54,2,2019-10-23T16:28:47.000,2019-10-23T16:38:20.000,3,1.32,1,N,237,239,1,8.0,1.0,0.5,2.46,0.00,0.3,14.76,2.5

Sometimes there may be extraneous data at the end of the file, so checking the bottom few rows is also important:

In [198]:
taxi.tail(30)

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
9970,2,2019-10-23T17:22:40.000,2019-10-23T17:40:48.000,1,3.20,1,N,162,74,1,14.0,1.0,0.5,2.58,0.00,0.3,20.88,2.5
9971,1,2019-10-23T17:29:31.000,2019-10-23T17:37:51.000,3,0.70,1,N,100,164,2,7.0,3.5,0.5,0.00,0.00,0.3,11.30,2.5
9972,1,2019-10-23T17:49:43.000,2019-10-23T18:00:34.000,1,1.40,1,N,234,79,1,9.0,3.5,0.5,2.65,0.00,0.3,15.95,2.5
9973,1,2019-10-23T17:02:32.000,2019-10-23T17:14:34.000,1,0.70,1,N,234,170,1,8.5,3.5,0.5,3.20,0.00,0.3,16.00,2.5
9974,1,2019-10-23T17:18:38.000,2019-10-23T17:36:29.000,1,1.50,1,N,161,142,1,12.0,3.5,0.5,3.25,0.00,0.3,19.55,2.5
9975,1,2019-10-23T17:32:43.000,2019-10-23T17:54:15.000,3,3.30,1,N,261,68,2,16.5,3.5,0.5,0.00,0.00,0.3,20.80,2.5
9976,2,2019-10-23T17:59:03.000,2019-10-23T18:54:03.000,1,10.66,1,N,138,188,1,41.0,1.0,0.5,10.70,0.00,0.3,53.50,0.0
9977,2,2019-10-23T16:03:31.000,2019-10-23T16:04:03.000,1,16.69,2,N,132,170,1,52.0,4.5,0.5,15.86,6.12,0.3,79.28,0.0
9978,2,2019-10-23T17:50:42.000,2019-10-23T18:56:35.000,2,17.76,2,N,132,161,2,52.0,4.5,0.5,0.00,5.76,0.3,65.56,2.5
9979,1,2019-10-23T17:53:07.000,2019-10-23T18:00:38.000,3,1.40,1,N,239,263,1,7.0,3.5,0.5,1.70,0.00,0.3,13.00,2.5
9980,2,2019-10-23T17:46:40.000,2019-10-23T18:05:47.000,1,7.43,1,N,132,76,1,23.5,1.0,0.5,5.06,0.00,0.3,30.36,0.0
9981,2,2019-10-23T17:21:50.000,2019-10-23T17:32:06.000,6,1.55,1,N,236,238,1,8.5,1.0,0.5,2.00,0.00,0.3,14.80,2.5
9982,2,2019-10-23T17:40:28.000,2019-10-23T18:04:53.000,6,4.01,1,N,151,68,1,17.0,1.0,0.5,4.26,0.00,0.3,25.56,2.5
9983,2,2019-10-23T18:03:03.000,2019-10-23T18:10:45.000,1,0.76,1,N,234,170,1,6.5,1.0,0.5,2.16,0.00,0.3,12.96,2.5
9984,1,2019-10-23T17:24:45.000,2019-10-23T17:33:26.000,1,1.00,1,N,166,41,1,7.5,1.0,0.5,1.67,0.00,0.3,10.97,0.0
9985,2,2019-10-23T16:50:38.000,2019-10-23T17:16:09.000,6,2.25,1,N,138,7,1,16.5,1.0,0.5,3.66,0.00,0.3,21.96,0.0
9986,1,2019-10-23T17:04:21.000,2019-10-23T17:10:54.000,1,0.90,1,N,137,162,1,6.0,3.5,0.5,1.00,0.00,0.3,11.30,2.5
9987,1,2019-10-23T17:17:25.000,2019-10-23T17:23:22.000,1,0.80,1,N,170,107,1,5.5,3.5,0.5,4.00,0.00,0.3,13.80,2.5
9988,1,2019-10-23T17:29:46.000,2019-10-23T18:03:33.000,1,3.10,1,N,170,143,1,20.5,3.5,0.5,2.00,0.00,0.3,26.80,2.5
9989,2,2019-10-23T17:24:56.000,2019-10-23T17:32:00.000,1,1.15,1,N,237,236,1,6.5,1.0,0.5,2.16,0.00,0.3,12.96,2.5
9990,2,2019-10-23T17:49:24.000,2019-10-23T18:00:36.000,1,0.70,1,N,162,161,1,8.0,1.0,0.5,2.46,0.00,0.3,14.76,2.5
9991,1,2019-10-23T17:01:10.000,2019-10-23T17:16:20.000,0,2.10,1,N,166,74,2,11.5,1.0,0.5,0.00,0.00,0.3,13.30,0.0
9992,1,2019-10-23T17:26:46.000,2019-10-23T17:31:49.000,0,0.40,1,Y,75,263,2,5.0,1.0,0.5,0.00,0.00,0.3,6.80,0.0
9993,1,2019-10-23T17:43:29.000,2019-10-23T18:07:07.000,0,2.10,1,N,236,140,2,15.0,3.5,0.5,0.00,0.00,0.3,19.30,2.5
9994,1,2019-10-23T17:26:17.000,2019-10-23T17:30:35.000,1,0.80,1,N,166,24,2,5.5,1.0,0.5,0.00,0.00,0.3,7.30,0.0
9995,1,2019-10-23T17:39:59.000,2019-10-23T17:49:26.000,2,1.30,1,N,238,239,1,8.0,3.5,0.5,2.46,0.00,0.3,14.76,2.5
9996,1,2019-10-23T17:53:02.000,2019-10-23T18:00:45.000,1,1.40,1,N,239,166,2,8.0,3.5,0.5,0.00,0.00,0.3,12.30,2.5
9997,1,2019-10-23T17:07:16.000,2019-10-23T17:11:35.000,1,0.70,1,N,166,152,2,5.0,1.0,0.5,0.00,0.00,0.3,6.80,0.0
9998,1,2019-10-23T17:38:26.000,2019-10-23T17:49:28.000,2,2.50,1,N,151,42,1,10.0,1.0,0.5,0.00,0.00,0.3,11.80,0.0
9999,1,2019-10-23T17:22:14.000,2019-10-23T17:52:09.000,1,3.00,1,N,237,68,1,19.0,3.5,0.5,2.50,0.00,0.3,25.80,2.5

#### Get some information about the DataFrame

In [199]:
taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               10000 non-null  int64
 1   tpep_pickup_datetime   10000 non-null  object
 2   tpep_dropoff_datetime  10000 non-null  object
 3   passenger_count        10000 non-null  int64
 4   trip_distance          10000 non-null  float64
 5   ratecodeid             10000 non-null  int64
 6   store_and_fwd_flag     10000 non-null  object
 7   pulocationid           10000 non-null  int64
 8   dolocationid           10000 non-null  int64
 9   payment_type           10000 non-null  int64
 10  fare_amount            10000 non-null  float64
 11  extra                  10000 non-null  float64
 12  mta_tax                10000 non-null  float64
 13  tip_amount             10000 non-null  float64
 14  tolls_amount           10000 non-null  float64
 15  improvement_surcharge  10000 non-null  float64
 16  total_amount           10000 non-null  float64
 17  congestion_surcharge   10000 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.4+ MB

## Extracting subsets

A crucial part of working with DataFrames is extracting subsets of the data: finding rows that meet a certain set of criteria, isolating columns/rows of interest, etc. After narrowing down our data, we are closer to discovering insights. This section will be the backbone of many analysis tasks.

#### Selecting columns

We can select columns as attributes if their names would be valid Python variables:

In [278]:
names = taxi.vendorid

In [201]:
names # Created a subset

0            Aachen
1            Aarhus
2              Abee
3          Acapulco
4           Achiras
            ...
45711    Zillah 002
45712        Zinder
45713          Zlin
45714     Zubkovsky
45715    Zulu Queen
Name: name, Length: 45716, dtype: object

If they aren't, we have to select them as keys. However, we can select multiple columns at once this way:

In [282]:
taxi

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,2019-10-23T17:39:59.000,2019-10-23T17:49:26.000,2,1.30,1,N,238,239,1,8.0,3.5,0.5,2.46,0.00,0.3,14.76,2.5
9996,1,2019-10-23T17:53:02.000,2019-10-23T18:00:45.000,1,1.40,1,N,239,166,2,8.0,3.5,0.5,0.00,0.00,0.3,12.30,2.5
9997,1,2019-10-23T17:07:16.000,2019-10-23T17:11:35.000,1,0.70,1,N,166,152,2,5.0,1.0,0.5,0.00,0.00,0.3,6.80,0.0
9998,1,2019-10-23T17:38:26.000,2019-10-23T17:49:28.000,2,2.50,1,N,151,42,1,10.0,1.0,0.5,0.00,0.00,0.3,11.80,0.0
9999,1,2019-10-23T17:22:14.000,2019-10-23T17:52:09.000,1,3.00,1,N,237,68,1,19.0,3.5,0.5,2.50,0.00,0.3,25.80,2.5

#### Selecting rows

In [203]:
taxi[100:114:2]

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
100,2,2019-10-23T16:00:07.000,2019-10-23T16:04:19.000,2,0.69,1,N,148,79,2,5.0,1.0,0.5,0.00,0.0,0.3,9.30,2.5
102,2,2019-10-23T16:08:49.000,2019-10-23T16:31:17.000,2,5.33,1,N,65,198,2,20.5,1.0,0.5,0.00,0.0,0.3,22.30,0.0
104,1,2019-10-23T16:43:12.000,2019-10-23T17:25:28.000,1,7.30,1,N,236,231,1,32.5,3.5,0.5,6.00,0.0,0.3,42.80,2.5
106,2,2019-10-23T16:40:11.000,2019-10-23T16:57:45.000,3,2.04,1,N,263,239,1,12.5,1.0,0.5,1.68,0.0,0.3,18.48,2.5
108,2,2019-10-23T16:26:40.000,2019-10-23T16:53:52.000,1,3.21,1,N,237,90,1,18.0,1.0,0.5,4.46,0.0,0.3,26.76,2.5
110,2,2019-10-23T16:16:13.000,2019-10-23T16:18:51.000,2,0.48,1,N,164,230,1,4.0,1.0,0.5,2.08,0.0,0.3,10.38,2.5
112,2,2019-10-23T16:32:36.000,2019-10-23T16:45:29.000,2,2.13,1,N,142,151,1,10.5,1.0,0.5,1.48,0.0,0.3,16.28,2.5

#### Indexing

We use `iloc[]` to select rows and columns by their position:

In [252]:
taxi.iloc[0:20, 2:5]

      tpep_dropoff_datetime  passenger_count  trip_distance
0   2019-10-23T17:14:10.000                1           7.93
1   2019-10-23T16:45:26.000                1           2.00
2   2019-10-23T16:21:11.000                1           1.36
3   2019-10-23T16:43:26.000                1           1.00
4   2019-10-23T16:58:49.000                1           1.96
5   2019-10-23T16:43:20.000                1           1.62
6   2019-10-23T16:53:17.000                1           0.85
7   2019-10-23T17:21:28.000                1           4.70
8   2019-10-23T16:19:33.000                1           0.80
9   2019-10-23T16:30:04.000                2           0.60
10  2019-10-23T17:57:38.000                2          18.20
11  2019-10-23T16:32:58.000                1           2.10
12  2019-10-23T16:39:14.000                1           0.70
13  2019-10-23T16:47:38.000                1           2.86
14  2019-10-23T16:59:20.000                2           1.32
15  2019-10-23T17:18:22.000                1           1.99
16  2019-10-23T16:12:48.000                2           1.13
17  2019-10-23T16:12:48.000                2           1.13
18  2019-10-23T16:33:02.000                2           2.94
19  2019-10-23T16:48:49.000                1           0.70

We use `loc[]` to select by name:

In [247]:
taxi.loc[100:104, ]

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
100,2,2019-10-23T16:00:07.000,2019-10-23T16:04:19.000,2,0.69,1,N,148,79,2,5.0,1.0,0.5,0.00,0.0,0.3,9.30,2.5
101,2,2019-10-23T16:08:07.000,2019-10-23T16:17:19.000,3,1.19,1,N,107,233,1,7.5,1.0,0.5,2.36,0.0,0.3,14.16,2.5
102,2,2019-10-23T16:08:49.000,2019-10-23T16:31:17.000,2,5.33,1,N,65,198,2,20.5,1.0,0.5,0.00,0.0,0.3,22.30,0.0
103,1,2019-10-23T16:15:37.000,2019-10-23T16:38:39.000,1,2.00,1,N,170,237,2,15.0,3.5,0.5,0.00,0.0,0.3,19.30,2.5
104,1,2019-10-23T16:43:12.000,2019-10-23T17:25:28.000,1,7.30,1,N,236,231,1,32.5,3.5,0.5,6.00,0.0,0.3,42.80,2.5

#### Filtering with Boolean masks

A **Boolean mask** is a array-like structure of Boolean values &ndash; it's a way to specify which rows/columns we want to select (`True`) and which we don't (`False`).

Here's an example of a Boolean mask for meteorites weighing more than 50 grams that were found on Earth (i.e., they were not observed falling):

In [283]:
(taxi > 50) & (taxi).fall == 'Found'

TypeError: '>' not supported between instances of 'str' and 'int'

**Important**: Take note of the syntax here. We surround each condition with parentheses, and we use bitwise operators (`&`, `|`, `~`) instead of logical operators (`and`, `or`, `not`).

We can use a Boolean mask to select the subset of meteorites weighing more than 1 million grams (1,000 kilograms or roughly 2,205 pounds) that were observed falling:

In [250]:
taxi[(taxi > 1e6) & (taxi.fall == 'Fell')]

TypeError: '>' not supported between instances of 'str' and 'float'

*Tip: Boolean masks can be used with `loc[]` and `iloc[]`.*

An alternative to this is the `query()` method:

In [251]:
taxi.query("`mass (g)` > 1e6 and fall == 'Fell'")

UndefinedVariableError: name 'BACKTICK_QUOTED_STRING_mass__LPAR_g_RPAR_' is not defined

*Tip: Here, we can use both logical operators and bitwise operators.*

## Calculating summary statistics

In the next section of this workshop, we will discuss data cleaning for a more meaningful analysis of our datasets; however, we can already extract some interesting insights from the `meteorites` data by calculating summary statistics.

#### How many of the meteorites were found versus observed falling?

In [ ]:
taxi.fall.value_counts()

[The Meteoritical Society states](https://www.lpi.usra.edu/meteor/metbull.php?code=56147) that "relict meteorites are composed mostly of terrestrial minerals, but are thought to have once been meteorites." What proportion of the data are relict meteorites? Let's verify these were all found versus observed falling:

In [221]:
taxi.value_counts(subset=['nametype', 'fall'], normalize=True)

KeyError: 'nametype'

#### What was the mass of the average meterorite?

In [253]:
taxi['mass (g)'].mean()

KeyError: 'mass (g)'

**Important**: The mean isn't always the best measure of central tendency. If there are outliers in the distribution, the mean will be skewed. Here, the mean is being pulled higher by some very heavy meteorites &ndash; the distribution is [right-skewed](https://www.analyticsvidhya.com/blog/2020/07/what-is-skewness-statistics/).

Taking a look at some quantiles at the extremes of the distribution shows that the mean is between the 95th and 99th percentile of the distribution, so it isn't a good measure of central tendency here:

In [254]:
taxi['mass (g)'].quantile([0.01, 0.05, 0.5, 0.95, 0.99])

KeyError: 'mass (g)'

A better measure in this case is the median (50th percentile), since it is robust to outliers:

In [257]:
taxi.median()

TypeError: Cannot convert [['2019-10-23T16:39:42.000' '2019-10-23T16:32:08.000'
  '2019-10-23T16:08:44.000' ... '2019-10-23T17:07:16.000'
  '2019-10-23T17:38:26.000' '2019-10-23T17:22:14.000']
 ['2019-10-23T17:14:10.000' '2019-10-23T16:45:26.000'
  '2019-10-23T16:21:11.000' ... '2019-10-23T17:11:35.000'
  '2019-10-23T17:49:28.000' '2019-10-23T17:52:09.000']
 ['N' 'N' 'N' ... 'N' 'N' 'N']] to numeric

#### What was the mass of the heaviest meteorite?

In [260]:
taxi.max()

vendorid                                       2
tpep_pickup_datetime     2019-10-24T08:19:11.000
tpep_dropoff_datetime    2019-10-24T17:15:47.000
passenger_count                                6
trip_distance                              38.11
ratecodeid                                     5
store_and_fwd_flag                             Y
pulocationid                                 265
dolocationid                                 265
payment_type                                   4
fare_amount                                176.0
extra                                        7.0
mta_tax                                      0.5
tip_amount                                  43.0
tolls_amount                               612.0
improvement_surcharge                        0.3
total_amount                               671.8
congestion_surcharge                        2.75
dtype: object

Let's extract the information on this meteorite:

In [261]:
taxi.loc[taxi.idxmax()]

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.50
9355,1,2019-10-24T08:19:11.000,2019-10-24T09:00:35.000,0,13.20,1,N,132,223,2,42.0,0.0,0.5,0.00,0.00,0.3,42.80,0.00
9183,2,2019-10-23T17:19:31.000,2019-10-24T17:15:47.000,2,7.48,1,N,141,217,2,29.0,1.0,0.5,0.00,0.00,0.3,33.30,2.50
41,2,2019-10-23T16:12:20.000,2019-10-23T16:38:36.000,6,3.27,1,N,162,246,1,17.5,1.0,0.5,2.00,0.00,0.3,23.80,2.50
8338,2,2019-10-23T16:50:53.000,2019-10-24T15:32:55.000,1,38.11,5,N,132,265,1,176.0,0.0,0.5,18.29,6.12,0.3,201.21,0.00
139,2,2019-10-23T16:45:08.000,2019-10-23T17:45:07.000,3,12.59,5,N,130,234,1,80.0,0.0,0.0,0.00,0.00,0.3,82.80,2.50
59,1,2019-10-23T16:21:05.000,2019-10-23T16:53:39.000,3,4.40,1,Y,262,151,1,22.0,3.5,0.5,2.00,0.00,0.3,28.30,2.50
7192,1,2019-10-23T16:27:45.000,2019-10-23T16:27:58.000,1,0.10,1,N,265,265,3,2.5,1.0,0.5,0.00,0.00,0.3,4.30,0.00
255,2,2019-10-23T16:19:26.000,2019-10-23T16:38:59.000,1,6.20,1,N,132,265,1,21.0,1.0,0.5,4.56,0.00,0.3,27.36,0.00
1087,2,2019-10-23T16:54:00.000,2019-10-23T17:00:06.000,1,1.28,1,N,151,166,4,-6.5,-1.0,-0.5,0.00,0.00,-0.3,-8.30,0.00
8338,2,2019-10-23T16:50:53.000,2019-10-24T15:32:55.000,1,38.11,5,N,132,265,1,176.0,0.0,0.5,18.29,6.12,0.3,201.21,0.00
10,1,2019-10-23T16:35:02.000,2019-10-23T17:57:38.000,2,18.20,2,N,230,132,1,52.0,7.0,0.5,6.00,6.12,0.3,71.92,2.50
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.50
3304,1,2019-10-23T16:14:18.000,2019-10-23T16:30:00.000,1,2.80,1,N,133,181,1,12.5,1.0,0.5,43.00,0.00,0.3,57.30,0.00
449,1,2019-10-23T16:43:02.000,2019-10-23T18:02:40.000,1,17.00,2,N,234,132,3,52.0,7.0,0.5,0.00,612.00,0.3,671.80,2.50
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.50
449,1,2019-10-23T16:43:02.000,2019-10-23T18:02:40.000,1,17.00,2,N,234,132,3,52.0,7.0,0.5,0.00,612.00,0.3,671.80,2.50
7567,2,2019-10-23T16:04:32.000,2019-10-23T16:12:29.000,2,0.92,1,N,75,263,2,6.5,1.0,0.5,0.00,0.00,0.3,11.05,2.75

#### How many different types of meteorite classes are represented in this dataset?

In [262]:
taxi.nunique()

vendorid                    2
tpep_pickup_datetime     4281
tpep_dropoff_datetime    5079
passenger_count             7
trip_distance            1243
ratecodeid                  5
store_and_fwd_flag          2
pulocationid              129
dolocationid              183
payment_type                4
fare_amount               199
extra                      12
mta_tax                     3
tip_amount                657
tolls_amount               37
improvement_surcharge       3
total_amount             1097
congestion_surcharge        4
dtype: int64

Some examples:

In [266]:
taxi.[:14]

SyntaxError: invalid syntax (ipython-input-121599970.py, line 1)

*Note: All fields preceded with "rec" are the values recommended by The Meteoritical Society. Check out [this Wikipedia article](https://en.wikipedia.org/wiki/Meteorite_classification) for some information on meteorite classes.*

#### Get some summary statistics on the data itself
We can get common summary statistics for all columns at once. By default, this will only be numeric columns, but here, we will summarize everything together:

In [267]:
taxi.describe(include='all')

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,10000.000000,10000,10000,10000.000000,10000.000000,10000.000000,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
unique,NaN,4281,5079,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2019-10-23T16:22:41.000,2019-10-23T16:24:22.000,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,10,10,NaN,NaN,NaN,9838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.633700,NaN,NaN,1.497700,3.015250,1.084200,NaN,166.900400,166.313500,1.301000,15.106313,1.960235,0.492450,2.634494,0.623447,0.298140,22.564659,2.282800
std,0.481817,NaN,NaN,1.139353,4.148063,0.418244,NaN,63.791288,68.525953,0.486644,13.954762,1.392940,0.071544,3.409800,6.437507,0.032537,19.209255,0.720946
min,1.000000,NaN,NaN,0.000000,0.000000,1.000000,NaN,1.000000,1.000000,1.000000,-52.000000,-4.500000,-0.500000,0.000000,-6.120000,-0.300000,-65.920000,-2.500000
25%,1.000000,NaN,NaN,1.000000,0.920000,1.000000,NaN,132.000000,132.000000,1.000000,7.000000,1.000000,0.500000,0.000000,0.000000,0.300000,12.375000,2.500000
50%,2.000000,NaN,NaN,1.000000,1.500000,1.000000,NaN,162.000000,163.000000,1.000000,10.000000,1.000000,0.500000,2.000000,0.000000,0.300000,16.300000,2.500000
75%,2.000000,NaN,NaN,2.000000,2.760000,1.000000,NaN,234.000000,236.000000,2.000000,16.000000,3.500000,0.500000,3.250000,0.000000,0.300000,22.880000,2.500000
max,2.000000,NaN,NaN,6.000000,38.110000,5.000000,NaN,265.000000,265.000000,4.000000,176.000000,7.000000,0.500000,43.000000,612.000000,0.300000,671.800000,2.750000

**Important**: `NaN` values signify missing data. For instance, the `fall` column contains strings, so there is no value for `mean`; likewise, `mass (g)` is numeric, so we don't have entries for the categorical summary statistics (`unique`, `top`, `freq`).

#### Check out the documentation for more descriptive statistics:

- [Series](https://pandas.pydata.org/docs/reference/series.html#computations-descriptive-stats)
- [DataFrame](https://pandas.pydata.org/docs/reference/frame.html#computations-descriptive-stats)

# Exercises

Own analysis:

In [228]:
# Exercise 1.1 Create a DataFrame by reading in the 2019_Yellow_Taxi_Trip_Data.csv file. Examine the first 5 rows.

In [227]:


# Read the CSV file
taxi = pd.read_csv('/content/2019_Yellow_Taxi_Trip_Data (2).csv')

# View first 5 rows
taxi.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

Analysis: file using pandas and displayed the first five rows using the head() function. This allowed me to confirm that the dataset loaded correctly and that the column names (such as trip_distance, fare_amount, tip_amount, tolls_amount, and total_amount) were properly formatted. Viewing the first few rows also helped me understand the structure of the data and the type of information included in each column (for example, pickup and drop-off details, passenger count, and payment information). upon using the taxi.head() you can see the 5 rows here, if you tried to run this part, you can easily notice that date of the pichup time and dropoff time. You can able to put the content at parenthesis and write taxi = pd.read_csv so it will help you to run this code. this while will help you run your code and inside the table you can see those data. Every rows shows the different types of date and distance time and the fare here is also different it depends on the distance every trip.

In [210]:
# Exercise 1.2 Find the dimensions (number of rows and number of columns) in the data.
print("Number of rows:", taxi.shape[0])
print("Number of columns:", taxi.shape[1])

Number of rows: 10000
Number of columns: 18

Analysis: As we run this code, the number of rows shows a number of 10000 while the number of columns is only 18 as we checked the data here. it shows the speific numbers of rows and columns. upon using the word print together with the parenthesis. and returns (columns, rows). I used the shape attribute to determine the dimensions of the dataset. This showed the total number of rows (which represent individual taxi trips) and the total number of columns (which represent the different variables recorded for each trip). Knowing the dataset’s size helps in understanding how large the data is and how much information is available for analysis.

In [207]:
# Exercise 1.3 Using the data in the 2019_Yellow_Taxi_Trip_Data.csv file, calculate summary statistics for the fare_amount, tip_amount, tolls_amount, and total_amount columns.

In [206]:
taxi[['fare_amount', 'tip_amount', 'tolls_amount', 'total_amount']].describe()

        fare_amount    tip_amount  tolls_amount  total_amount
count  10000.000000  10000.000000  10000.000000  10000.000000
mean      15.106313      2.634494      0.623447     22.564659
std       13.954762      3.409800      6.437507     19.209255
min      -52.000000      0.000000     -6.120000    -65.920000
25%        7.000000      0.000000      0.000000     12.375000
50%       10.000000      2.000000      0.000000     16.300000
75%       16.000000      3.250000      0.000000     22.880000
max      176.000000     43.000000    612.000000    671.800000

Analysis: I calculated summary statistics for the fare_amount, tip_amount, tolls_amount, and total_amount columns using the describe() function. This provided useful statistics such as the mean (average value), minimum and maximum values (to check for possible outliers), and quartiles (to understand how the data is distributed). From this summary, I could observe the general range of fares and tips, and also check if there were any unusual values (such as negative fares or extremely high totals, which might indicate data entry errors). When I started to run this part it helps me noticed those data and I can able to compare it.

In [211]:
# Exercise 1.4 Isolate the fare_amount, tip_amount, tolls_amount, and total_amount for the longest trip by distance (trip_distance).

In [212]:
taxi.loc[taxi['trip_distance'].idxmax(),
         ['fare_amount', 'tip_amount', 'tolls_amount', 'total_amount']]

fare_amount      176.0
tip_amount       18.29
tolls_amount      6.12
total_amount    201.21
Name: 8338, dtype: object

Analysis: I identified the longest trip by finding the maximum value in the trip_distance column and then isolated the corresponding fare, tip, tolls, and total amount for that trip. This helped me see how the cost of the trip relates to the distance traveled (since longer trips usually result in higher fares). It also allowed me to check whether toll charges were included and whether the tip amount was proportional to the fare.